
/* nav bar respnsive with hamburger */
@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #9BC2E4, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #0D1117;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.menu>li>a{
    color: inherit;
    text-decoration: none;
  }






  /* media querry */
@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
}
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .menu>li>a{
    color: inherit;
    text-decoration: none;
  }
  #h1c{
  color: #FFFFFF;
  /* font-size: 0px; */
  /* font-weight: bolder; */

}
 
}
.bg1{
  width: 100%;
  z-index: -1;
  height: 90%;
  position: absolute;
}
#h1c{
  color: #FFFFFF;
  font-size: 80px;
  font-weight: bolder;

}
.libtn{
  position: absolute;
  right: 20%;
  top: 50%;
}
.ullogin{
  text-align: center ;
  /* background-color: blue; */
}
/* carousal */
:root {
   --white-100: hsl(206, 5%, 100%);
   --white-200: hsl(206, 5%, 90%);
   --white-300: hsl(206, 5%, 80%);
   --white-400: hsl(206, 5%, 65%);

   --black-100: hsl(210, 20%, 10%);
   --black-200: hsl(210, 20%, 8%);
   --black-300: hsl(210, 20%, 5%);
   --black-400: hsl(210, 20%, 3%);
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   list-style-type: none;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

html {
   font-size: 100%;
   box-sizing: inherit;
   scroll-behavior: smooth;
   height: -webkit-fill-available;
}

body {
   font-family: "Rubik", sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: var(--black-300);
   background-color: var(--white-100);
}

main {
   overflow: hidden;
}

a,
button {
   cursor: pointer;
   user-select: none;
   border: none;
   outline: none;
   background: none;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
   image-rendering: -webkit-optimize-contrast;
   image-rendering: -moz-crisp-edges;
   image-rendering: crisp-edges;
}

// Elements
.section {
   margin-inline: auto;
   padding-block: 5rem;
}

.container {
   max-width: 75rem;
   height: auto;
   margin-inline: auto;
   padding-inline: 1.25rem;
}
